/* Define CSS variables for your theme */
:root {
  --primary: #00a6ff;
  --secondary: #ff5000;
  --accent: #00bbff;
  --neutral: #2e2e2e;
  --base-100: #fff7ff;
  --info: #00a3ff;
  --success: #96e143;
  --warning: #f55400;
  --error: #ff8895;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
html,
body,
main {
  background: #fff;
  width: 100%;
  color: #000;
}
.hero,
.container {
  width: 100%;
}

/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
  font-size: 1.4rem;
  text-rendering: optimizeLegibility;
}
/* sets the base font size for the document; turns on kerning pairs and ligatures */

body,
ul,
ol,
dl {
  margin: 0;
}
article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

/* Apply theme colors to elements */
body {
  background-color: var(--base-100);
  color: var(--neutral);
}

button.primary {
  background-color: var(--primary);
  color: white;
}

button.secondary {
  background-color: var(--secondary);
  color: white;
}

button.accent {
  background-color: var(--accent);
  color: white;
}

/* Info, success, warning, and error styles */
.info {
  background-color: var(--info);
  color: white;
}

.success {
  background-color: var(--success);
  color: white;
}

.warning {
  background-color: var(--warning);
  color: white;
}

.error {
  background-color: var(--error);
  color: white;
}

/* ensures that older browsers will display HTML5 elements correctly */

h1 {
  font-size: 1.4rem;
}
/* begins to set up font sizes relative to base rem – h1 has been used as an example */

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/* sets hyphenation by default on paragraphs */

textarea {
  resize: vertical;
}
/* changes textarea resizing from "both" (UA default) to vertical only */

table {
  border-collapse: collapse;
}
td {
  padding: 0.5rem;
}
/* causes tables to actually look like tables */

img {
  border: none;
  max-width: 100%;
}
